<footer>
    <div class="footer ">
        <div class="social-link">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="app-copy-right">
            <p>&#169; Wanderlust pvt. limited company</p>
        </div>
       <div class="app-info">
           <a href="">Privacy  </a> .
           <a href="">Terms  </a> .
           <a href="">Sitemap</a>
       </div>
    </div>
</footer>