<% layout('/layout/boilerplate') -%>
<body>
    <!-- <h1><a href="/listings/new">Create New Listings</a></h1> -->
    <ul>
        <div class="listing-container">
            <%for(listing of allListings) { %>
                <a href="listings/<%= listing._id %>">
                    <div class="card" style="width: 22rem;">
                        <div class="img-container">
                            <img src="<%= listing.image.url%>" class="card-img-top" alt="listing image">
                        </div>
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                        <p class="card-text"><b><%= listing.title  %></b> <br>&#8377;<%= listing.price.toLocaleString("en-IN")  %></p>
                        </div>
                    </div>
                </a>
            <%}%>
        </div>
    </ul>
</body>