<% layout('/layout/boilerplate') -%>
<body>
    <div class="row col-11 ">
        <div class="offset-2 col-8">
            <br>
            <h2>Create New Listing</h2>
            <br>
            <form method="post" class="needs-validation" action="/listings" enctype="multipart/form-data" novalidate>
                <div>
                    <label for="title" class="form-label">Enter Title</label>
                    <input type="text" name="listing[title]" class="form-control mb-3" id="title" required/>
                    <div class="invalid-feedback">
                        Title must be required.
                    </div>
                </div>
                <div>
                    <label for="description" class="form-label">Enter Description</label>
                    <textarea class="form-control mb-3" id="description" name="listing[description]" required></textarea>
                    <div class="invalid-feedback">
                        Please enter a description.
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="price" class="form-label">Enter Price</label>
                        <input type="number" name="listing[price]" id="price" class="form-control mb-3" required/>
                        <div class="invalid-feedback">
                            Price must be required.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="country" class="form-label">Enter Country</label>
                        <input type="text" name="listing[country]" id="country" class="form-control mb-3" required>
                        <div class="invalid-feedback">
                            Country must be required.
                        </div>
                    </div>
                </div>
                <div>
                    <label for="image" class="form-label">Image:</label>
                    <input type="file" name="listing[image]" id="country" class="form-control mb-3" required>
                    <div class="invalid-feedback">
                        image must be required.
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">Enter Location</label>
                    <textarea class="form-control mb-3" id="location" name="listing[location]" required></textarea>
                    <div class="invalid-feedback">
                        Location must be required.
                    </div>
                </div>            
                    <button style="background-color: rgb(240, 43, 43); color: rgb(255, 255, 255);" class="btn addform">Submit</button>
            </form>
        </div>
    </div>
</body>